In [1]:
import pandas as pd

- Joins 
Challenge:

Perform an inner join to get customer details for each order.
Find customers who did not place any orders using a left join.

In [16]:
# DataFrame `df_customers`
customers_data = [
    {"customer_id": 1, "name": "Alice", "city": "New York"},
    {"customer_id": 2, "name": "Bob", "city": "Los Angeles"},
    {"customer_id": 3, "name": "Charlie", "city": "Chicago"}
]

# DataFrame `df_orders`
orders_data = [
    {"order_id": 101, "customer_id": 1, "amount": 250},
    {"order_id": 102, "customer_id": 2, "amount": 300},
    {"order_id": 103, "customer_id": 4, "amount": 150}
]

df_customers = pd.DataFrame(customers_data)
df_orders = pd.DataFrame(orders_data)

In [19]:
df_cust_with_ord = df_customers.join(df_orders,on="customer_id",how="inner",lsuffix='_left', rsuffix='_right')
df_cust_with_ord.columns = df_cust_with_ord.columns.str.replace('_left', '', regex=False)
df_cust_with_ord = df_cust_with_ord.loc[:, ~df_cust_with_ord.columns.str.endswith('_right')]
df_cust_with_ord = df_cust_with_ord.loc[:, ~df_cust_with_ord.columns.duplicated()]
df_cust_with_ord

   customer_id   name         city  order_id  amount
0            1  Alice     New York       102     300
1            2    Bob  Los Angeles       103     150

- Merge is cleaner

In [20]:
df_cust_with_ord = pd.merge(df_customers,df_orders,on="customer_id",how="inner")
df_cust_with_ord

   customer_id   name         city  order_id  amount
0            1  Alice     New York       101     250
1            2    Bob  Los Angeles       102     300

- Add a new column total_sales (price Ã— quantity).
- Remove the quantity column after adding total_sales.

In [21]:
sales_data = [
    {"product_id": 101, "product_name": "Pen", "price": 5, "quantity": 20},
    {"product_id": 102, "product_name": "Notebook", "price": 25, "quantity": 15},
    {"product_id": 103, "product_name": "Pencil", "price": 2, "quantity": 50}
]
df_sales = pd.DataFrame(sales_data)
df_sales.head(3)

   product_id product_name  price  quantity
0         101          Pen      5        20
1         102     Notebook     25        15
2         103       Pencil      2        50

In [28]:
df_sales_new = pd.DataFrame(df_sales)
df_sales_new["price"] = df_sales_new["price"].astype(int)
df_sales_new["quantity"] = df_sales_new["quantity"].astype(int)
df_sales_new["total_sales"] = df_sales_new["price"] * df_sales_new["quantity"]
df_sales_new.drop("quantity",axis=1,inplace=True)
df_sales_new

   product_id product_name  price  total_sales
0         101          Pen      5          100
1         102     Notebook     25          375
2         103       Pencil      2          100