In [1]:
import pandas as pd

- Joins

In [4]:
# DataFrame `df_customers`
customers_data = [
    {"customer_id": 1, "name": "Alice", "city": "New York"},
    {"customer_id": 2, "name": "Bob", "city": "Los Angeles"},
    {"customer_id": 3, "name": "Charlie", "city": "Chicago"}
]

# DataFrame `df_orders`
orders_data = [
    {"order_id": 101, "customer_id": 1, "amount": 250},
    {"order_id": 102, "customer_id": 2, "amount": 300},
    {"order_id": 103, "customer_id": 4, "amount": 150}
]

df_customers = pd.DataFrame(customers_data)
df_orders = pd.DataFrame(orders_data)

   customer_id     name         city
0            1    Alice     New York
1            2      Bob  Los Angeles
2            3  Charlie      Chicago